<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Register Here</h3>
        
        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username">
        
        <label for="email">Email</label>
        <input type="text" placeholder="Email" id="email">
        
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <label for="confirmPassword">Password</label>
        <input type="password" placeholder="Confirm password" id="confirmPassword">
        
        <button type="button" id="b1">Register</button>
        <button type="button" id="b2" onclick="location.href='../templates/login.html'">Login</button>
    </form>
</body>
</html>
